<a name="contact"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">                    
            <div class="col-lg-5 col-sm-pull-6  col-sm-6 techfeedy-contact-wrapper">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter techfeedy-contact-logo"></i>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
              <div class="clearfix"></div>
              <h2 class="section-heading techfeedy-section-heading">Questions?</h2>
              <p class="lead">If you have any suggestions, reach out to me on twitter <a href="https://twitter.com/mooveprince">@mooveprince</a> or facebook <a href="https://facebook.com/moove.prince">Moovendhan Elanchezhiyan</a></p>
          </div>                    
        </div>
    </div>
<!-- /.container -->
</div>