.splash-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #ffffff;
    background: url(../../assets/img/ckt-bg.jpg) no-repeat center center;
    height: 65%;
    background-size: cover;
    position: relative;    
}

.splash-overlay {
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;    
}

.splash-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.splash-logo {
    margin: 0 2px 0 3px;
    font-size: 1.1em;
}

.splash-brand {
    margin: 0 2px 0 0;
    font-size: 1.1em;
}