<div class="splash-header">
  <div class="splash-overlay">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="splash-message">
                      <h1>
                          <span class="splash-logo"><i class="{{appInfo.logo}}"></i></span>
                          <span class="splash-brand">{{appInfo.name}}</span>
                      </h1>
                      <h2>{{appInfo.tagline}} </h2>
                  </div>
              </div>
          </div> 

      </div>
  </div>
</div>