<a name="terms"></a>
<div class="content-section-a">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-sm-5">
              <div class="clearfix"></div>
              <h2 class="section-heading techfeedy-section-heading">Terms of service </h2>
              <p class="lead techfeedy-space">The TechFeedy service uses RSS Feeds and API from different sites. Only top 10 topics are displayed</p>
              <p class="lead">Site tracking data is collected by Google Analytics.</p>
              <p class="lead">There's no warranty for this service.</p>
              <p class="lead">TechFeedy is not affiliated with above mentioned sites</p>
          </div>
          <div class="col-lg-6 col-lg-offset-2 col-sm-7 techfeedy-section-heading">
              <div class="clearfix"></div>
              <h2 class="section-heading">Tools</h2>
              <div class="row">
                  <div class="col-md-12 col-sm-12" style="margin-top:20px"><img style="height:70px" src="../../assets/img/AmazonWebservices.svg.png"></div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-12 techfeedy-space"><img style="height:110px" src="../../assets/img/angular.png"></div>
                <div class="col-md-6 col-sm-12 techfeedy-space"><img style="height:60px" src="../../assets/img/nodejs-logo.svg"></div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-12 techfeedy-space"><img style="height:40px" src="../../assets/img/pixabay-logo.png"></div>
                  <div class="col-md-6 col-sm-12 techfeedy-space"><img style="height:40px" src="../../assets/img/bootstrap-logo.png"></div>
              </div>
          </div>
      </div>
  </div>
</div> 